<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>pyq_allshare_60x60_</string>
		<key>icon_night</key>
		<string>pyq_allshare_night_60x60_</string>
		<key>title</key>
		<string>微信朋友圈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>weixin_allshare_60x60_</string>
		<key>icon_night</key>
		<string>weixin_allshare_night_60x60_</string>
		<key>title</key>
		<string>微信好友</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>qq_allshare_60x60_</string>
		<key>icon_night</key>
		<string>qq_allshare_night_60x60_</string>
		<key>title</key>
		<string>手机QQ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>qqkj_allshare_60x60_</string>
		<key>icon_night</key>
		<string>qqkj_allshare_night_60x60_</string>
		<key>title</key>
		<string>QQ空间</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>sina_allshare_60x60_</string>
		<key>icon_night</key>
		<string>sina_allshare_night_60x60_</string>
		<key>title</key>
		<string>新浪微博</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>qqwb_allshare_60x60_</string>
		<key>icon_night</key>
		<string>qqwb_allshare_night_60x60_</string>
		<key>title</key>
		<string>腾讯微博</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>aliplay_allshare_60x60_</string>
		<key>icon_night</key>
		<string>aliplay_allshare_night_60x60_</string>
		<key>title</key>
		<string>支付宝好友</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>alishq_allshare_60x60_</string>
		<key>icon_night</key>
		<string>alishq_allshare_night_60x60_</string>
		<key>title</key>
		<string>支付宝生活圈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>airdrop_allshare_60x60_</string>
		<key>icon_night</key>
		<string>airdrop_allshare_night_60x60_</string>
		<key>title</key>
		<string>系统分享</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>allow_comments_allshare_60x60_</string>
		<key>icon_night</key>
		<string>allow_comments_allshare_night_60x60_</string>
		<key>title</key>
		<string>评论</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>copy_allshare_60x60_</string>
		<key>icon_night</key>
		<string>copy_allshare_night_60x60_</string>
		<key>title</key>
		<string>复制链接</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>pyq_allshare_60x60_</string>
		<key>icon_night</key>
		<string>pyq_allshare_night_60x60_</string>
		<key>title</key>
		<string>微信朋友圈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>link_allshare_60x60_</string>
		<key>icon_night</key>
		<string>link_allshare_night_60x60_</string>
		<key>title</key>
		<string>复制链接</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>love_allshare_60x60_</string>
		<key>icon_night</key>
		<string>love_allshare_night_60x60_</string>
		<key>title</key>
		<string>收藏</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mail_allshare_60x60_</string>
		<key>icon_night</key>
		<string>mail_allshare_night_60x60_</string>
		<key>title</key>
		<string>邮件</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>report_allshare_60x60_</string>
		<key>icon_night</key>
		<string>report_allshare_night_60x60_</string>
		<key>title</key>
		<string>举报</string>
	</dict>
</array>
</plist>
